body::before {
  content: "";
  background-image: url("../images/bg-pattern-top.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 500px) calc(50% - 400px);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -999;
}
body::after {
  content: "";
  background-image: url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 500px) calc(50% + 460px);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -999;
}
